@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.button-search,
.catalog-menu,
.feedback,
.big-map,
.choice-items {
  display: none;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;

  counter-reset: section;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px 42px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  border: none;
}

.btn:hover {
  background-image: none;
  background-color: #f0c52e;
}

.btn:focus {
  color: rgba(0, 0, 0, 0.3);

  background-image: none;
  background-color: #f0c52e;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 60px;
  padding-right: 60px;

  color: #000000;

  background-image: linear-gradient(to bottom, transparent 0, transparent 40px, #f7e296 40px, #f7e296 100%);
}

.logo {
  margin-bottom: 20px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 48px;
  color: #000000;
  line-height: 48px;

  background-color: transparent;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

.header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form-search {
  width: 300px;
  padding-right: 140px;
}

.search-site {
  padding-left: 40px;
  padding-right: 20px;
  width: 300px;

  font: inherit;
  color: #000000;
  letter-spacing: inherit;

  background-color: transparent;
  border: none;
  opacity: 0.3;

  box-sizing: border-box;
}

.search-site:hover {
  opacity: 0.6;
}

.search-site:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: none;
}

.form-search p {
  margin: 0;
  padding: 0;
}

.button-search {
  font: inherit;
  color: #000000;
  letter-spacing: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-search:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.navigation-header,
.main-menu,
.catalog-menu {
  list-style: none
}

.navigation-header a,
.main-menu a,
.catalog-menu a {
  color: #000000;
}

.navigation-header a:hover,
.main-menu a:hover,
.catalog-menu a:hover {
  opacity: 0.6;
}

.navigation-header a:focus,
.main-menu a:focus,
.catalog-menu a:focus{
  opacity: 0.3;
}

.navigation-header {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 500px;
}

.main-navigation {
  margin-bottom: 52px;
}

.main-menu {
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-menu {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-transform: none;
}

.sliders {
  padding-top: 19px;
  padding-left: 31px;
  padding-right: 40px;

  background-image: linear-gradient(to bottom, #f7e296 0px, #f7e296 130px, #ffffff 130px, #ffffff 100%);

}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider-img {
  display: flex;
  width: 526px;
  min-height: 486px;
  margin: 0;
  padding: 0;
}

.slider-item:first-child .slider-img img {
  margin: 0;
  margin-left: 59px;
}

.slider-item:nth-child(2) .slider-img img {
  margin: 0;
  margin-left: 26px;
  margin-top: 12px;
}

.slider-item:last-child .slider-img img {
  margin: 0;
  margin-top: 65px;
}

.slider-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 20px;
  padding-bottom: 20px;
  width: 500px;
}

.slider-wrapper::before {
  content: '';

  position: absolute;
  top: 37px;
  left: 21px;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-title {
  position: relative;
  z-index: 10;

  margin: 0;
  margin-bottom: 17px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
}

.number {
  position: absolute;
  top: -13px;
  right: 26px;

  width: 166px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 179.2px;
  color: #ffffff;
  line-height: 179.2px;
}

.slider-item:nth-child(2) .number {
  right: 20px;

  width: 198px;
}

.slider-item:last-child .number {
  right: 19px;

  width: 201px;
}

.slider-description {
  margin: 0;
  margin-bottom: 43px;
  width: 485px;

  color: #464646;
}

.slider-item:nth-child(2) .slider-description {
  width: 445px;
}

.slider-item:last-child .slider-description {
  width: 455px;
}

.slider-specific {
  margin-bottom: 6px;
  order: 2;
}

.slider-table-header th {
  text-align: left;
  vertical-align: center;

  font-size: 13px;
  font-weight: 300;
  color: #464646;
  line-height: 20px;
}

.slider-specific tbody {
  display: flex;
  flex-direction: column-reverse;
}

.slider-data {
  margin-bottom: 6px;
}

.slider-data td {
  text-align: left;
  vertical-align: center;

  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.slider-table-header th:first-child {
  width: 180px;
}

.btn-slider {
  margin-bottom: 45px;
}

.main-catalog-list {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 24px;

  list-style: none;
}

.control-list {
  margin: 0;
  padding: 0;
  width: 78px;

  list-style: none;

  font-size: 0;
}

.control-item {  
  margin-right: 21px;
  display: inline-block;

  font-size: 0px;
}

.control-item:last-child {
  margin-right: 0;
}

.btn-slider-control {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  box-sizing: border-box;

  background: none;
  border: 1px solid #000000;
  border-radius: 50%;
}

.main-catalog-item a {
  color: #000000;
}

.main-catalog-item a:focus {
  opacity: 0.3;
}

.service {
  background-image: linear-gradient(to bottom, transparent 0, transparent 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.service-description,
.service-switch {
  list-style: none;
}

.description-item h3 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.description-item p {
  color: #464646;
}

.switch-active .btn-switch,
.switch-active .btn-switch:hover,
.btn-switch:focus {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.brand-list {
  list-style: none;
}

.brand-item img {
  filter: grayscale(1);
}

.brand-item img:hover {
  filter: grayscale(0);
}

.index-columns h2 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.index-columns p {
  color: #464646;
}

.carrier {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;

  list-style: none;
}

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.user-navigation,
.menu-footer,
.footer-social {
  list-style: none;
}

.user-navigation a,
.menu-footer a,
.footer-social a,
.footer-copyright-icon {
  color: #ffffff;
}

.main-footer .logo {
  color: #ffc600;
}

.user-navigation {
  line-height: 36px;
}

.user-navigation a {
  opacity: 0.7;
}

.user-navigation a:hover {
  opacity: 1;
}

.user-navigation a:focus {
  opacity: 0.3;
}

a.exit-link {
  opacity: 0.3;
}

.address,
.telefon {
  letter-spacing: normal;
}

.menu-footer {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.menu-footer a:hover {
  opacity: 0.6;
}

.menu-footer a:focus {
  opacity: 0.3;
}

.page-title {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-list a,
.breadcrumbs-active {
  font-size: 14px;
  color: #000000;
  line-height: 24px;

  opacity: 0.3;
}

.breadcrumbs-list a:hover {
  opacity: 0.6;
}

.breadcrumbs-list a:focus {
  opacity: 0.1;
}

.filter-product {
  background-color: #efefef;
}

.filter-product h3 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #dcdcdc;
}

.filter fieldset {
  border: none;
}

.filter-title {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.color-list,
.bluetooth-choice {
  list-style: none;
}

.color-input + label,
.bluetooth-input + label {
  font-size: 14px;
  line-height: 40px;
}

.color-input:disabled + label,
.bluetooth-input:disabled + label {
  opacity: 0.25;
}

.sorting-product {
  background-color: #ebebeb;
}

.sorting-product h3 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting,
.sorting-seriatim {
  list-style: none;
}

.sorting {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
}

.sorting a {
  color: #000000;

  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:focus {
  opacity: 1;
}

.sorting-active a,
.sorting-active a:hover,
.sorting-active a:focus {
  opacity: 1;
}

.monopod-items,
.choice-items {
  list-style: none;
}

.monopod-item a {
  color: #000000;
}

.monopod-item h3 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.monopod-price {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  color: #464646;
  line-height: 24px;
}

.choice-compare {
  font-size: 13px;
  line-height: 36px;

  opacity: 0.5;
}

.choice-compare:hover {
  opacity: 1;
}

.choice-compare:focus {
  opacity: 0.2;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-list {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  text-transform: uppercase;

  list-style: none;
}

.pagination-item a {
  color: #000000;
}

.back a:hover,
.next a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.back a:focus,
.next a:focus {
  color: rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-disabled a:hover,
.pagination-disabled a:focus {
  color: #000000;

  background-color: transparent;
}

.page a {
  opacity: 0.3;
}

.page a:hover {
  opacity: 0.6;
}

.page a:focus,
.pagination-active a,
.pagination-active a:hover,
.pagination-active a:focus{
  opacity: 1;
}

.feedback-form label {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: normal;
  line-height: 24px;
}

.feedback-form input,
.feedback-form textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
  letter-spacing: normal;
  line-height: 18px;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: #464646;

  background-color: #ffffff;
  outline-color: #f0c52e;
  outline-width: 3px;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}
