@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;

  counter-reset: section;
}

.hidden {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  text-transform: none;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
  position: relative;
  z-index: 100;

  display: inline-block;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.btn::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-transform: scaleY(0.2);

      -ms-transform: scaleY(0.2);

          transform: scaleY(0.2);
  width: 100%;
  height: 100%;

  background-color: #f0c52e;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover::before,
.btn:focus::before {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);

  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  transition: all 0.4s;
}

.btn:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
  padding-left: 60px;
  padding-right: 60px;

  color: #000000;

  background-image: -webkit-linear-gradient(top, transparent 0, transparent 40px, #f7e296 40px, #f7e296 100%);

  background-image: -o-linear-gradient(top, transparent 0, transparent 40px, #f7e296 40px, #f7e296 100%);

  background-image: linear-gradient(to bottom, transparent 0, transparent 40px, #f7e296 40px, #f7e296 100%);
}

.logo {
  margin-right: auto;
  margin-bottom: 7px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 48px;
  color: #000000;
  line-height: 48px;
  letter-spacing: 0.01em;

  background-color: transparent;
}

.logo[href]:hover {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}

.form-search {
  width: 355px;
  padding-right: 85px;
}

.search-site {
  position: relative;

  margin: 0;
}

.search-site::before {
  content: '';

  position: absolute;
  top: 2px;
  left: 2px;

  width: 16px;
  height: 49px;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/search.svg');
}

.search {
  padding: 9.5px 0;
  padding-left: 40px;
  padding-right: 20px;
  width: 355px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font: inherit;
  color: #000000;
  letter-spacing: inherit;

  background-color: transparent;
  border: none;
  opacity: 0.3;

  box-sizing: border-box;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  padding-bottom: 7.5px;
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: none;
}

.button-search {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  padding: 7.5px 0;
  width: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font: inherit;
  color: #000000;
  letter-spacing: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #000000;
}

.search:focus + .button-search {
  display: inline-block;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;

  -webkit-transition: background-color 0.3s;

  -o-transition: background-color 0.3s;

  transition: background-color 0.3s;
}

.button-search:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;

  -webkit-transition: color 0.3s;

  -o-transition: color 0.3s;

  transition: color 0.3s;
}

.navigation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  width: 500px;
}

.navigation-user-list a,
.product-selection a,
.header-service a,
.header-info a {
  color: #000000;
}

.navigation-user-list a:hover,
.product-selection a:hover,
.header-service a:hover,
.header-info a:hover {
  opacity: 0.6;
}

.navigation-user-list a:focus,
.product-selection a:focus,
.header-service a:focus,
.header-info a:focus {
  opacity: 0.3;
}

.navigation-user-list,
.product-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-user-list .exit-link {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user-list li {
  margin-right: 20px;
}

.product-selection {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 217px;
}

.navigation-user-list .name-link,
.navigation-user-list .login-link,
.product-selection a {
  position: relative;

  padding-left: 25px;
}

.navigation-user-list .login-link::before,
.navigation-user-list .name-link::before,
.product-selection a::before {
  content: '';

  position: absolute;
  top: 5px;
  left: 2px;
  width: 13px;
  height: 12px;

  background-position: center;
  background-repeat: no-repeat;
}

.navigation-user-list .login-link::before,
.navigation-user-list .name-link::before {
  left: 0;
}

.navigation-user-list .login-link::before,
.navigation-user-list .name-link::before {
  background-image: url('../img/user.svg');
}

.product-selection .compare-link::before {
  background-image: url('../img/compare.svg');
}

.product-selection .basket-link::before {
  background-image: url('../img/basket.svg');
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.main-catalog,
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-catalog {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-catalog a {
  color: #000000;
}

.main-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-catalog a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu {
  width: 500px;
}

.header-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 273px;

  list-style: none;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 200px;

  list-style: none;
}

.catalog {
  position: relative;

  margin-left: 0;
  margin-right: auto;
}

.catalog > a {
  position: relative;

  padding-right: 26px;
}

.catalog > a::before,
.catalog > a::after {
  content: '';

  position: absolute;

  background-color: rgba(39, 37, 37, 0.3);
}

.catalog > a::before {
  top: 10.5px;
  right: 0;

  width: 16px;
  height: 2px;
}

.catalog > a::after {
  top: 3.5px;
  right: 7px;

  width: 2px;
  height: 16px;
}

.catalog-column {
  position: absolute;
  top: 24px;
  left: -60px;
  z-index: 100;

  display: none;
  padding: 21px 60px;
  padding-bottom: 35px;
  width: 1040px;

  background-color: #f7e296;
}

.catalog:hover .catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu {
  margin: 0;
  margin-left: 40px;
  padding: 0;
  width: 160px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 36px;
  text-transform: none;

  list-style: none;
}

.catalog-menu a {
  color: #000000;
}

.catalog-menu a:hover {
  opacity: 0.6;
}

.catalog-menu a:focus{
  opacity: 0.3;
}

.catalog-menu:first-child {
  margin-left: 0;
  width: 200px;
}

.sliders {
  position: relative;

  margin-bottom: 88px;
  padding-top: 2px;
  padding-left: 31px;
  padding-right: 40px;

  background-image: -webkit-linear-gradient(top, #f7e296 0px, #f7e296 115px, #ffffff 115px, #ffffff 100%);

  background-image: -o-linear-gradient(top, #f7e296 0px, #f7e296 115px, #ffffff 115px, #ffffff 100%);

  background-image: linear-gradient(to bottom, #f7e296 0px, #f7e296 115px, #ffffff 115px, #ffffff 100%);

}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-img {
  width: 526px;
  min-height: 486px;
  margin: 0;
  padding: 0;
}

.slider-img img {
  margin: 0;
}

.slider-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 81px 20px;
  padding-bottom: 20px;
  width: 500px;
}

.slider-wrapper::before {
  content: '';

  position: absolute;
  top: 38px;
  left: 21px;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-title {
  position: relative;
  z-index: 10;

  margin: 0;
  margin-bottom: 18px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.number {
  position: absolute;
  top: -13px;
  right: 26px;

  width: 166px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 179.2px;
  color: #ffffff;
  line-height: 179.2px;
  letter-spacing: 0.01em;
}

.slider-item:nth-child(2) .number {
  right: 20px;

  width: 198px;
}

.slider-item:last-child .number {
  right: 19px;

  width: 201px;
}

.slider-description {
  margin: 0;
  margin-bottom: 44px;
  width: 485px;

  color: #464646;
}

.slider-item:nth-child(2) .slider-description {
  width: 445px;
}

.slider-item:last-child .slider-description {
  width: 455px;
}

.slider-specific {
  margin-bottom: 1px;
  border-collapse: collapse;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.slider-table-header th {
  text-align: left;
  vertical-align: middle;

  padding: 3px 0;

  font-size: 13px;
  font-weight: 300;
  color: #464646;
  line-height: 20px;
  letter-spacing: 0.01em;

  border: none;
}

.slider-data td {
  text-align: left;
  vertical-align: middle;

  padding: 3px 0;
  padding-bottom: 5px;

  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;

  border: none;
}

.slider-data td:first-child,
.slider-data td:nth-child(3) {
  width: 160px;
}

.slider-data td:nth-child(2) {
  width: 140px;
}

.btn-slider {
  margin-bottom: 45px;
  width: 220px;
}

.control-list {
  position: absolute;
  bottom: 154px;
  right: 82px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 250px;

  line-height: 12px;


  list-style: none;
}

.control-item {
  margin-left: 21px;
  margin-bottom: 10px;
}

.btn-slider-control {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.slider-control-active .btn-slider-control::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -2px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 1px solid #000000;
  border-radius: 50%;
}


.main-catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin:0;
  margin-bottom: 60px;
  padding: 0;
  width: 100%;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 0.01em;

  list-style: none;
}

.main-catalog-link {
  position: relative;

  display: inline-block;
  width: 160px;
  padding-top: 193px;

  color: #000000;
  vertical-align: middle;
}

.main-catalog-link::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
  background-position: center;
  background-repeat: no-repeat;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.main-catalog-link::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 160px;

  background-color: transparent;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.main-catalog-item {
  margin-bottom: 20px;
}

.main-catalog-item:nth-child(1) .main-catalog-link::before {
  background-image: url('../img/popular-1.svg');
}

.main-catalog-item:nth-child(2) .main-catalog-link::before {
  background-position: bottom center;
  background-image: url('../img/popular-2.svg');
}

.main-catalog-item:nth-child(3) .main-catalog-link::before {
  background-image: url('../img/popular-3.svg');
}

.main-catalog-item:nth-child(4) .main-catalog-link::before {
  background-image: url('../img/popular-4.svg');
}

.main-catalog-item:nth-child(5) .main-catalog-link::before {
  background-image: url('../img/popular-5.svg');
}

.main-catalog-item:nth-child(6) .main-catalog-link::before {
  background-image: url('../img/popular-6.svg');
}

.main-catalog-link:hover::before {
  background-color: #f0c52e;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.main-catalog-link:focus::before {
  background-color: transparent;
  opacity: 0.3;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.main-catalog-link:focus::after {
  background-color: #f0c52e;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.main-catalog-link:focus {
  color: rgba(0, 0, 0, 0.3);

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.service {
  margin-bottom: 94px;

  background-image: -webkit-linear-gradient(top, transparent 0, transparent 100px, #e5e5e5 100px, #e5e5e5 100%);

  background-image: -o-linear-gradient(top, transparent 0, transparent 100px, #e5e5e5 100px, #e5e5e5 100%);

  background-image: linear-gradient(to bottom, transparent 0, transparent 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
}

.service-description,
.service-switch {
  margin: 0;
  padding: 0;

  list-style: none;
}

.description-item {
  display: none;
  padding-top: 74px;
  padding-left: 20px;
  padding-right: 300px;
  padding-bottom: 20px;
  width: 460px;

  background-repeat: no-repeat;
}

.description-active {
  display: block;
}

.description-item:first-child {
  background-image: url('../img/delivery.svg');
  background-position: top 85px right 67px;
}

.description-item:nth-child(2) {
  background-image: url('../img/warranty.svg');
  background-position: top 61px right 46px;
}

.description-item:nth-child(3) {
  background-image: url('../img/credit.svg');
  background-position: top 61px right 69px;
}

.description-item h3 {
  margin: 0;
  margin-bottom: 31px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.description-item p {
  margin: 0;

  color: #464646;
}

.service-switch {
  padding-top: 80px;
  padding-bottom: 70px;

  border-right: 7px solid #000000;
}

.switch-item {
  margin-bottom: 24px;
}

.switch-item:last-child {
  margin-bottom: 0;
}

.btn-switch {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 117px;
  padding: 8px 0;
  width: 160px;

  cursor: pointer;
}

.switch-active .btn-switch,
.switch-active .btn-switch:hover,
.btn-switch:focus {
  margin-right: 0;
  padding-right: 117px;

  color: #f7e184;

  outline: none;
}

.switch-active .btn-switch,
.switch-active .btn-switch::before,
.switch-active .btn-switch:hover::before,
.btn-switch:focus::before {
  background-color: #000000;
}

.brands {
  margin-bottom: 73px;
}

.brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brand-item {
  margin-bottom: 20px;
}

.brand-item a {
  position: relative;

  display: block;
  width: 260px;
  height: 100px;

  opacity: 0.2;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.brand-item a::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 100px;

  background-position: center;
  background-repeat: no-repeat;
}

.brand-item:first-child a::before {
  background-image: url('../img/logo-1-bw.png');
}

.brand-item:nth-child(2) a::before {
  background-image: url('../img/logo-2-bw.png');
}

.brand-item:nth-child(3) a::before {
  background-image: url('../img/logo-3-bw.png');
}

.brand-item:nth-child(4) a::before {
  background-image: url('../img/logo-4-bw.png');
}

.brand-item a:hover {
  opacity: 1;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.brand-item a:hover::before {
  background-image: none;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 81px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 44px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.index-columns p {
  margin: 0;
  margin-bottom: 65px;

  color: #464646;
}

.index-columns .btn {
  width: 260px;
}

.info p {
  width: 485px;
}

.info p:first-of-type {
  margin-bottom: 30px;
}

.info,
.contacts {
  position: relative;

  padding-top: 52px;
  width: 560px;
}

.info::before,
.contacts::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 8px;

  background-color: #000000;
}

.carrier {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;

  list-style: none;
}

.carrier li {
  position: relative;

  padding-left: 35px;
}

.carrier li::before {
  content: '';

  position: absolute;
  left: 0;
  top: 16px;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts p {
  margin-bottom: 38px;
}

.map {
  margin-bottom: 70px;
}

.map a {
  display: block;
  width: 560px;
  height: 222px;
}

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top,
.navigation-footer,
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top {
  margin-bottom: 23px;
  padding-top: 60px;
}

.main-footer .logo {
  margin: 0;
}

.user-navigation,
.menu-footer,
.footer-social {
  list-style: none;
}

.menu-footer a,
.footer-social a,
.footer-copyright-icon {
  color: #ffffff;
}

.main-footer .logo {
  color: #ffc600;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 580px;

  line-height: 36px;
}

.user-navigation li {
  margin-left: 22px;
}

.user-navigation a {
  position: relative;

  padding-left: 40px;

  color: rgba(255, 255, 255, 0.7);
}

.user-navigation a:not(.exit-link)::before {
  content: '';

  position: absolute;
  top: 4px;
  left: 18px;
  width: 13px;
  height: 12px;

  background-position: center;
  background-repeat: no-repeat;
}

.user-navigation a.login-link::before,
.user-navigation a.name-link::before {
  left: 13px;

  background-image: url('../img/user-footer.svg');
}

.user-navigation .compare-link::before {
  background-image: url('../img/compare-footer.svg');
}

.user-navigation .basket-link::before {
  background-image: url('../img/basket-footer.svg');
}

.user-navigation .exit-link {
  padding-left: 0;
}

.user-navigation a:hover {
  color: #ffffff;
}

.user-navigation a:hover::before {
  opacity: 0.6;
}

.user-navigation a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation a:focus::before {
  opacity: 0.3;
}

.user-navigation .exit-link {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-footer {
  margin-bottom: 60px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.address,
.telefon {
  margin: 0;
  width: 205px;

  letter-spacing: normal;
}

.telefon {
  text-align: right;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 8px;
  width: 424px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.menu-footer-item {
  margin-top: 5px;
}

.menu-footer a:hover {
  opacity: 0.6;
}

.menu-footer a:focus {
  opacity: 0.3;
}

.footer-bottom {
  margin-bottom: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 148px;
}

.social {
  display: inline-block;
  padding: 4px;
  width: 32px;
  height: 32px;

  vertical-align: middle;

  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social:hover {
  opacity: 0.6;
}

.social:focus {
  opacity: 0.1;
}

.social-fb {
  background-image: url('../img/fb.svg');
}

.social-inst {
  background-image: url('../img/inst.svg');
}

.social-tw {
  background-image: url('../img/tw.svg');
}

.footer-copyright-icon {
  margin-left: 53px;
  width: 27px;
  height: 40px;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/logo-html.svg');
}

.footer-copyright-icon:hover {
  opacity: 0.6;
}

.footer-copyright-icon:focus {
  opacity: 0.3;
}

.monopods .main-header {
  margin-bottom: 37px;
}

.page-title {
  margin: 0;
  margin-bottom: 21px;
  padding: 0 60px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  padding: 0 60px;
  margin-bottom: 44px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding: 0 60px;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  padding-right: 40px;
}

.breadcrumbs-active {
  padding-right: 0;
}

.breadcrumbs-item a,
.breadcrumbs-active {
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 0.01em;

  opacity: 0.3;
}

.breadcrumbs-item:not(.breadcrumbs-active)::after {
  content: '';

  position: absolute;

  width: 6px;
  height: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 1px solid #000000;
  border-left: none;
  border-bottom: none;
  -webkit-transform: translate(10px, 14px) rotate(45deg);
      -ms-transform: translate(10px, 14px) rotate(45deg);
          transform: translate(10px, 14px) rotate(45deg);
}

.breadcrumbs-list a:hover {
  opacity: 0.6;
}

.breadcrumbs-list a:focus {
  opacity: 0.1;
}

.monopods-column {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #efefef), color-stop(50%, #efefef), color-stop(50%, transparent), to(transparent));
  background-image: -webkit-linear-gradient(left, #efefef 0, #efefef 50%, transparent 50%, transparent 100%);
  background-image: -o-linear-gradient(left, #efefef 0, #efefef 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(to right, #efefef 0, #efefef 50%, transparent 50%, transparent 100%);
}

.monopods-column .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;

  background-image: -webkit-linear-gradient(left, #efefef 0, #efefef 348px, #ffffff 348px, #ffffff 100%);

  background-image: -o-linear-gradient(left, #efefef 0, #efefef 348px, #ffffff 348px, #ffffff 100%);

  background-image: linear-gradient(to right, #efefef 0, #efefef 348px, #ffffff 348px, #ffffff 100%);
}

.filter-product {
  padding-top: 7px;
  padding-left: 60px;
  width: 268px;

  background-color: #efefef;
}

.filter {
  width: 200px;
}

.filter-item {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 16px;

  border-top: 2px solid #000000;
}

.filter-title {
  margin: 0;
  margin-bottom: 18px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.min-max {
  position: relative;

  margin-top: 34px;
  margin-bottom: 50px;

  height: 2px;

  background-color: #dbdbdb;
}

.line-green {
  display: block;

  width: 110px;
  height: 2px;

  background-color: #91c92f;
}

.min,
.max {
  position: absolute;
  top: -10px;
  left: 0;

  padding: 0;
  padding-top: 20px;

  color: rgba(0, 0, 0, 0.2);
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 24px;

  background-color: transparent;
  border: none;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

  cursor: pointer;
}

.max {
  left: 110px;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);
}

.min::before,
.max::before {
  content: '';

  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -5px;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 #dbdbdb;
          box-shadow: 0 2px 0 0 #dbdbdb;
}

.min::before {
  left: 0;
}

.min::after,
.max::after {
  content: '';

  position: absolute;
  top: 8px;
  left: 50%;

  margin-left: 3px;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;
}

.min::after {
  left: 0;
}

.min:focus,
.max:focus {
  outline: none;
}

.min:focus::before,
.max:focus::before,
.min:focus::after,
.max:focus::after {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.color-list,
.bluetooth-choice {
  margin: 0;
  padding: 0;

  list-style: none;
}

.color-list {
  margin-bottom: 17px;
}

.bluetooth-choice {
  margin-bottom: 15px;
}

.color-item,
.bluetooth-item {
  position: relative;
}

.color-input + label,
.bluetooth-input + label {
  padding-left: 38px;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.color-item label::after {
  content: '';

  position: absolute;
  top: 8.5px;
  left: -2px;

  width: 23px;
  height: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 2px solid #000000;
  border-radius: 3px;
}

.color-input:checked + label::before {
  content: '';

  position: absolute;
  bottom: 13px;
  left: 10px;
  z-index: 1;

  width: 20px;
  height: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-box-shadow: inset 5px -5px 0 0 #000000,
              inset 0 -6px 0 0 #eeeeee,
              0 1px 0 0 #eeeeee;

          box-shadow: inset 5px -5px 0 0 #000000,
              inset 0 -6px 0 0 #eeeeee,
              0 1px 0 0 #eeeeee;

  -webkit-transform: rotate(-45deg);

      -ms-transform: rotate(-45deg);

          transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}

.bluetooth-item label::after {
  content: '';

  position: absolute;
  top: 50%;
  left: -2px;

  margin-top: -15px;
  width: 26px;
  height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: 4px solid #000000;
  border-radius: 50%;
}

.bluetooth-input:checked + label::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 6px;
  z-index: 1;

  margin-top: -7px;
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #000000;
  border-radius: 50%;
}

.color-input:hover + label,
.bluetooth-input:hover + label {
  opacity: 0.6;
}

.color-input:focus + label,
.bluetooth-input:focus + label {
  opacity: 1;
}

.color-input:disabled + label,
.bluetooth-input:disabled + label {
  opacity: 0.25;
}

.btn-filter {
  width: 100%;
}

.left-column {
  width: 760px;

  background-color: #ffffff;
}

.sorting-product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-product {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #dcdcdc), color-stop(50%, #dcdcdc), color-stop(50%, #efefef), to(#efefef));
  background-image: -webkit-linear-gradient(left, #dcdcdc 0, #dcdcdc 50%, #efefef 50%, #efefef 100%);
  background-image: -o-linear-gradient(left, #dcdcdc 0, #dcdcdc 50%, #efefef 50%, #efefef 100%);
  background-image: linear-gradient(to right, #dcdcdc 0, #dcdcdc 50%, #efefef 50%, #efefef 100%);
}

.sorting-product h3 {
  position: relative;

  margin: 0;
  margin-left: 328px;
  padding: 23px 0;
  padding-right: 55px;
  padding-left: 72px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #efefef;
}

.sorting-product h3::before {
  content: 'Фильтр:';

  position: absolute;
  top: 0;
  left: -328px;

  padding: 23px 0;
  padding-left: 60px;
  width: 328px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #dcdcdc;
}

.sorting,
.sorting-seriatim {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
}

.sorting li {
  margin-right: 30px;
  padding: 20px 0;
}

.sorting a {
  color: #000000;

  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:focus {
  opacity: 1;
}

.sorting-active a,
.sorting-active a:hover,
.sorting-active a:focus {
  opacity: 1;
}

.sorting-seriatim {
margin-left: auto;

font-size: 0;
}

.sorting-ascending,
.sorting-descending {
  display: inline-block;
  margin-left: 19px;
  padding: 20px 0;

  font-size: 15px;
  vertical-align: middle;
  letter-spacing: 0.01em;
}

.sorting-ascending {
  margin-left: 0;
}

.sorting-ascending a,
.sorting-descending a {
  display: inline-block;
  width: 0;
  height: 0;

  font-size: 0;

  border: 10px solid #ffffff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sorting-ascending a {
  border-bottom: 10px solid rgba(35, 31, 32, 0.2);
  border-top-width: 0;
}

.sorting-descending a {
  border-top: 10px solid rgba(35, 31, 32, 0.2);
  border-bottom-width: 0;
}

.sorting-ascending:not(.sorting-seriatim-active) a:hover {
  border-bottom-color: rgba(35, 31, 32, 0.4);
}

.sorting-descending:not(.sorting-seriatim-active) a:hover {
  border-top-color: rgba(35, 31, 32, 0.4);
}

.sorting-ascending a:focus,
.sorting-seriatim-active a {
  border-bottom-color: #231f20;
}

.sorting-descending a:focus,
.sorting-seriatim-active a {
  border-top-color: #231f20;
}

.monopod-items,
.choice-items {
  list-style: none;
}

.monopod-items {
  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.monopod-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 6px;
  margin-bottom: 38px;
  width: 360px;
}

.monopod-item a {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;

  color: #000000;
}

.monopod-img {
  margin: 0;
  margin-bottom: 33px;
  width: 360px;
  height: 380px;
}

.monopod-item h3 {
  margin: 0;
  width: 260px;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.monopod-price {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;

  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  color: #464646;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.choice {
  position: absolute;
  top: 7px;
  left: 0;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 173px;
  width: 360px;

  background-color: rgba(238, 238, 238, 0.7);
  list-style: none;
}

.choice-item:first-child {
  margin-bottom: 10px;
}

.choice-item:last-child {
  margin-bottom: 121px;
}

.choice-basket {
  display: inline-block;
  width: 200px;

  text-align: center;
  vertical-align: middle;
}

.choice-compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;

  opacity: 0.5;
}

.choice-compare:hover {
  opacity: 1;
}

.choice-compare:focus {
  opacity: 0.2;
}

.monopod-item:hover .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new::before {
  content: 'NEW';

  position: absolute;
  top: 36px;
  right: 27px;

  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: rgba(0, 0, 0, 0.2);
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 14px;
  line-height: 56px;
  letter-spacing: 0.01em;
  text-align: center;
  vertical-align: middle;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.pagination {
  margin-bottom: 73px;

  background-color: #ebebeb;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;

  list-style: none;
}

.pagination-item {
  padding: 23px 10px;
  min-width: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.back {
  margin-left: 0;
  margin-right: auto;
  padding: 0;
}

.next {
  margin-left: auto;
  margin-right: 0;
  padding: 0;

  text-align: right;
}

.back a,
.next a {
  display: block;
  padding: 23px 30px;
}

.next a {
  padding-right: 27px;
}

.page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  min-width: 110px;

  list-style: none;
}

.pagination-item a {
  color: #000000;
}

.back a[href]:hover,
.next a[href]:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.back a[href]:focus,
.next a[href]:focus {
  color: rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.08);
}

.page a[href] {
  opacity: 0.3;
}

.page a[href]:hover {
  opacity: 0.6;
}

.page a[href]:focus{
  opacity: 1;
}

.feedback {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;

  display: none;
  width: 760px;
  margin-left: -480px;
  padding: 95px 100px;
  padding-bottom: 78px;

  background-color: #ffffff;
}

.feedback-close,
.btn-big-map {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 10;

  width: 55px;
  height: 55px;

  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.feedback-close::after,
.feedback-close::before,
.btn-big-map::after,
.btn-big-map::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -1px;
  margin-left: -15px;
  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.feedback-close::after,
.btn-big-map::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-close::before,
.btn-big-map::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-close:hover,
.btn-big-map:hover {
  opacity: 1;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.feedback-close:focus,
.btn-big-map:focus {
  outline: none;

  opacity: 0.3;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  margin-bottom: 34px;
}

.feedback-form p:last-of-type {
  margin-bottom: 41px;
}

.feedback-message {
  width: 100%;
}

.feedback-form label {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: normal;
  line-height: 24px;

  margin-bottom: 6px;
}

.feedback-form input,
.feedback-form textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
  letter-spacing: normal;
  line-height: 18px;

  padding: 16px 20px;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.feedback-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.feedback-form textarea {
  height: 124px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: #464646;

  background-color: #ffffff;
  outline-color: #f0c52e;
  outline-width: 3px;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  outline: none;
}

.btn-submit {
  padding-left: 34px;
  padding-right: 34px;
  cursor: pointer;
}

.big-map {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;

  display: none;
  width: 960px;
  height: 559px;
  margin-left: -480px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.big-map iframe,
.big-map img {
  position: absolute;
  top: 0;
  left: 0;
}

.big-map img {
  z-index: 1;
}

.big-map iframe {
  z-index: 2;
}

@-webkit-keyframes emergence {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes emergence {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes emergenceReverse {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes emergenceReverse {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.open-popup {
  display: block;

  -webkit-animation: emergence 0.6s;
          animation: emergence 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
